@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* General styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cyan: hsl(179, 62%, 43%); 
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --light-cyan: hsl(179, 55%, 47%);
    --standard-margin: 2rem;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background-color: var(--light-gray);
    padding: 1.5rem;
}

ul {
    list-style-type: none;
}

p, 
li {
    line-height: 1.75;
}
/* upper element 'Join our community' */
.container {
    background-color: #fff;
    border-radius: .625rem;
}

p.green {
    color: var(--bright-yellow);
    font-weight: 700;
}

.container>article:first-child {
    padding: var(--standard-margin)
}

.container>article:first-child h1,
.container>article:first-child p {
    margin-bottom: calc(.5*--standard-margin);

}

.container>article:first-child h1 {
    color: var(--cyan);
}

.container>article:first-child p:last-child {
    color: var(--grayish-blue);
}

/* bottom left element 'Monthly subscription' */

.btn {
    background-color: var(--bright-yellow);
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.container section {
    display: flex;
    flex-direction: column;
}

.container section article {
    padding: var(--standard-margin);
    color: #fff;
}

.container section article:first-child {
    background-color: var(--cyan);
}

.container section article:first-child h2 {
    margin-bottom: calc(var(--standard-margin)*.5);
}

.container section article:first-child h3 {
    font-size: 1rem;
    font-weight: 400; 
    display: flex;
    align-items: center;
    color: var(--light-gray);
}

.container section article:first-child h3 span {
    font-size: 2rem;
    font-weight: 700; 
    margin-right: 1rem;
    color: #fff;
}

.container section article:first-child p {
    margin: 1rem 0;
}

/* bottom right element 'Why Us' */

.container section article:nth-child(2) {
    background-color: var(--light-cyan);
}

.container section article:last-child {
    background-color: var(--light-cyan);
    border-radius: 0 0 .625rem .625rem;
}

.container section article:last-child h2 {
    margin-bottom: 1rem;
}

/* Responsiveness */

@media (min-width: 651px) {
    .container {
        max-width: 700px;
        margin: auto;
    }
    
    .container>article:first-child h1 {
        font-size: 2rem;
    }

    .container section {
        flex-direction: row;
    }
}

    .container section article:first-child {
    flex: 1;
    border-bottom-left-radius: .625rem;
    border-radius: 0;
    }

    .container section article:last-child {
    flex: 1;
    border-bottom-right-radius: .625rem;
    }


/* attribution design by front-end dev */

.attribution {
    margin-top: var(--standard-margin);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}